# Directorios y archivos generados automatícamente
.idea/
.vscode/
*.iml
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de compilación
*.o
*.obl
*.a
*.out

#Dependecias y directorios de módulos de Go
vendor/
go.sum